
<div class="background">
    <img src="../../assets/homeBackground.svg" id="backgroundSVG">
</div>

<!-- Center the divs vertically and horizontally -->
<div class="container">
    <div class="login-container">
        <h1 style="text-decoration: underline;">Damask Holdings</h1>
        
        <p>A Fullstack Human Resources Application</p>
        <h2 style="text-decoration: underline;">Sample User Pages</h2>
        <button routerLink="edashboard" class="button">Employee Dashboard</button>
        <button routerLink="hdashboard" class="button">HR Dashboard</button>
        <br>
        <h2 style="text-decoration: underline;">Accounts System:</h2>
        <button routerLink="/login" class="button">Login</button>
        <button routerLink="/create-user" class="button">Create Account</button>
    </div>
</div>

