
<!-- <app-bg></app-bg>
<app-emp-navbar></app-emp-navbar> -->

<div class="user-info-container">

    <div class="user-info-container">
        <h2>User Information</h2>
        <div>
          <label for="userIdInput">Enter User ID:</label>
          <input type="text" id="userIdInput" [(ngModel)]="userId" name="userId">
          <button (click)="getUserInfo()">Get User Info</button>
        </div>
    </div>
    
    <!-- Display user information here -->
    <ng-container *ngIf="userInfo">
      <p>User ID: {{ userInfo.userid }}</p>
      <p>First Name: {{ userInfo.firstname }}</p>
      <p>Middle Name: {{ userInfo.middlename }}</p>
      <p>Last Name: {{ userInfo.lastname }}</p>
      <p>SSN: {{ userInfo.ssn }}</p>
      <p>Date of Birth: {{ userInfo.dob }}</p>
      <p>Routing Number: {{ userInfo.routingnum }}</p>
      <p>Account Number: {{ userInfo.accountnum }}</p>
      <p>Street Address: {{ userInfo.streetaddress }}</p>
      <p>State: {{ userInfo.state }}</p>
      <p>Zip Code: {{ userInfo.zipcode }}</p>
      <p>Is Admin: {{ userInfo.isadmin }}</p>
    </ng-container>
  </div>
  